*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 90%;
  display: flex;
  justify-content: center;
}

.slider {
  display: flex;
  width: calc(100% - 10rem);
  transform: translateX(-100%);
}

.slider img {
  flex: 0 0 25%;
  max-width: 25%;
  aspect-ratio: 16 / 9;
  padding: .25rem;
}